.md-header, .md-tabs{
    background: #2774ae !important;
}

/* :root {
    --md-primary-fg-color:        #2774ae;
    --md-primary-fg-color--light: #2774ae;
    --md-primary-fg-color--dark:  #2774ae;
  } */